In [1]:

list_1=["mango","banana","apple","grapes","guava","kiwi","pineapple","pear","watermelon","melon"]
list_2=["1","2","3","4","5","6","7","8","9","10"]
list_3=["30","20","100","50","40","80","55","67","45","75"]

In [2]:
import random
file=open("23122144","w+")
file.write("ITEM,QUANTITY,PRICE\n")
for i in range(0,100,1):
    a=random.randint(0,9)
    b=random.randint(0,9)
    c=random.randint(0,9)
    file.write(list_1[a]+","+list_2[b]+","+list_3[c]+"\n")
file.close()  # from the list writing random item , price and quantity to the file

In [ ]:
file=open("23122144","r+")
d=file.readlines() #reading the file
d

In [5]:
def prices(string):
    h=string.split(",")
    return h[2]  # spliting each item in the file and fetching the price from each item

In [6]:
price=[]
for i in d:
    j=prices(i)
    s=j.split('\n')
    price.append(s[0])  # making a list of all the prices
price

['PRICE',
 '55',
 '80',
 '30',
 '67',
 '30',
 '30',
 '40',
 '40',
 '30',
 '67',
 '40',
 '45',
 '30',
 '30',
 '40',
 '67',
 '80',
 '30',
 '80',
 '100',
 '75',
 '67',
 '40',
 '80',
 '40',
 '45',
 '67',
 '55',
 '67',
 '30',
 '100',
 '50',
 '50',
 '30',
 '50',
 '67',
 '67',
 '55',
 '55',
 '67',
 '67',
 '80',
 '40',
 '55',
 '45',
 '75',
 '45',
 '55',
 '45',
 '100',
 '30',
 '75',
 '80',
 '80',
 '80',
 '50',
 '50',
 '40',
 '80',
 '100',
 '30',
 '55',
 '20',
 '30',
 '20',
 '20',
 '75',
 '50',
 '30',
 '30',
 '80',
 '30',
 '67',
 '50',
 '40',
 '67',
 '40',
 '30',
 '45',
 '55',
 '80',
 '20',
 '80',
 '20',
 '55',
 '30',
 '40',
 '50',
 '50',
 '67',
 '30',
 '100',
 '45',
 '20',
 '40',
 '55',
 '80',
 '80',
 '20',
 '45']

In [7]:
total=0
for i in price:
    if i=="PRICE":
        continue
    else:
        total=total+int(i)
total   # finding the total of all the prices

5311

In [8]:
def quan(string):
    h=string.split(",")
    return h[1]   # spliting each item in the list by commas and fetching the quantity of each item

In [9]:
quantity=[]
for i in d:
    j=quan(i)
    quantity.append(j)  # making a list of all the quantities 
quantity

['QUANTITY',
 '1',
 '5',
 '6',
 '10',
 '3',
 '1',
 '2',
 '6',
 '8',
 '9',
 '3',
 '2',
 '8',
 '5',
 '9',
 '2',
 '4',
 '6',
 '10',
 '5',
 '3',
 '6',
 '8',
 '10',
 '3',
 '10',
 '3',
 '10',
 '6',
 '5',
 '5',
 '2',
 '4',
 '4',
 '8',
 '2',
 '5',
 '5',
 '6',
 '8',
 '4',
 '9',
 '9',
 '6',
 '10',
 '9',
 '10',
 '8',
 '2',
 '10',
 '2',
 '5',
 '2',
 '10',
 '9',
 '6',
 '4',
 '5',
 '3',
 '6',
 '1',
 '9',
 '6',
 '4',
 '4',
 '1',
 '6',
 '3',
 '2',
 '8',
 '10',
 '2',
 '9',
 '4',
 '7',
 '6',
 '7',
 '7',
 '3',
 '10',
 '1',
 '10',
 '7',
 '9',
 '5',
 '1',
 '6',
 '8',
 '9',
 '7',
 '6',
 '1',
 '8',
 '6',
 '7',
 '7',
 '9',
 '5',
 '9',
 '7']

In [11]:
t_quan=0
for i in quantity:
    if i=="QUANTITY":
        continue
    else:
        t_quan=t_quan+int(i)
t_quan  # getting the total of all the quantities

584

In [12]:
final=0
prod_sum=0
for i in range(1,100,1):
    prod_sum=prod_sum+(int(quantity[i])*int(price[i]))
prod_sum  # getting the price total of all the items and the quantity they were bought in

31364

In [17]:
count=0  #for the first five rows
for i in d:
    count=count+1
    if count<7:
        print(i)

ITEM,QUANTITY,PRICE

pear,3,67

banana,5,50

guava,7,50

banana,7,40

watermelon,8,80

In [18]:
count=0 #for the lat 10 rows
for i in d:
    count=count+1
    if count>91:
        print(i)

melon,3,40

guava,2,45

mango,8,75

mango,1,75

pineapple,10,67

pear,4,55

pineapple,6,75

mango,2,80

guava,7,40

grapes,10,75