In [109]:

list_1=["mango","banana","apple","grapes","guava","kiwi","pineapple","pear","watermelon","melon"]
list_2=["1","2","3","4","5","6","7","8","9","10"]
list_3=["30","20","100","50","40","80","55","67","45","75"]

In [145]:
import random
file=open("23122144","w+")
file.write("ITEM,QUANTITY,PRICE\n")
for i in range(0,100,1):
    a=random.randint(0,9)
    b=random.randint(0,9)
    c=random.randint(0,9)
    file.write(list_1[a]+","+list_2[b]+","+list_3[c]+"\n")
file.close()

In [146]:
file=open("23122144","r+")
d=file.readlines()

In [182]:
def par(string):
    h=string.split(",")
    return h[2]

In [192]:
price=[]
for i in d:
    j=par(i)
    s=j.split('\n')
    price.append(s[0])

In [193]:
price

['PRICE',
 '100',
 '30',
 '80',
 '55',
 '50',
 '80',
 '80',
 '30',
 '75',
 '20',
 '30',
 '20',
 '40',
 '75',
 '100',
 '20',
 '50',
 '75',
 '20',
 '80',
 '45',
 '20',
 '45',
 '20',
 '80',
 '100',
 '67',
 '30',
 '80',
 '40',
 '40',
 '67',
 '40',
 '40',
 '45',
 '50',
 '80',
 '80',
 '50',
 '45',
 '100',
 '50',
 '30',
 '55',
 '67',
 '30',
 '45',
 '100',
 '45',
 '75',
 '50',
 '75',
 '80',
 '20',
 '100',
 '30',
 '30',
 '100',
 '75',
 '75',
 '40',
 '45',
 '45',
 '40',
 '55',
 '67',
 '80',
 '100',
 '80',
 '100',
 '45',
 '45',
 '40',
 '100',
 '80',
 '55',
 '40',
 '30',
 '20',
 '67',
 '100',
 '75',
 '67',
 '67',
 '55',
 '45',
 '45',
 '67',
 '100',
 '55',
 '50',
 '75',
 '55',
 '45',
 '75',
 '67',
 '100',
 '20',
 '55',
 '75']

In [196]:
total=0
for i in price:
    if i=="PRICE":
        continue
    else:
        total=total+int(i)

In [197]:
total

5873

In [198]:
def par(string):
    h=string.split(",")
    return h[1]

In [199]:
quantity=[]
for i in d:
    j=par(i)
    quantity.append(j)

In [200]:
quantity

['QUANTITY',
 '8',
 '5',
 '9',
 '6',
 '7',
 '3',
 '5',
 '2',
 '8',
 '5',
 '8',
 '9',
 '5',
 '7',
 '3',
 '4',
 '9',
 '4',
 '10',
 '9',
 '9',
 '9',
 '10',
 '9',
 '1',
 '5',
 '10',
 '10',
 '10',
 '4',
 '2',
 '9',
 '10',
 '2',
 '6',
 '1',
 '1',
 '6',
 '4',
 '5',
 '2',
 '7',
 '5',
 '2',
 '9',
 '2',
 '3',
 '5',
 '7',
 '4',
 '3',
 '5',
 '1',
 '4',
 '5',
 '6',
 '5',
 '10',
 '10',
 '9',
 '4',
 '2',
 '10',
 '4',
 '4',
 '1',
 '8',
 '6',
 '5',
 '5',
 '10',
 '6',
 '10',
 '4',
 '2',
 '9',
 '1',
 '10',
 '9',
 '3',
 '5',
 '1',
 '7',
 '4',
 '7',
 '4',
 '2',
 '9',
 '3',
 '8',
 '6',
 '5',
 '3',
 '2',
 '10',
 '7',
 '8',
 '2',
 '8',
 '3']

In [201]:
t_quan=0
for i in quantity:
    if i=="QUANTITY":
        continue
    else:
        t_quan=t_quan+int(i)

In [202]:
t_quan

570