In [4]:

list_1=["mango","banana","apple","grapes","guava","kiwi","pineapple","pear","watermelon","melon"]
list_2=["1","2","3","4","5","6","7","8","9","10"]
list_3=["30","20","100","50","40","80","55","67","45","75"]

In [5]:
import random
file=open("23122144","w+")
file.write("ITEM,QUANTITY,PRICE\n")
for i in range(0,100,1):
    a=random.randint(0,9)
    b=random.randint(0,9)
    c=random.randint(0,9)
    file.write(list_1[a]+","+list_2[b]+","+list_3[c]+"\n")
file.close()

In [6]:
file=open("23122144","r+")
d=file.readlines()

In [7]:
def par(string):
    h=string.split(",")
    return h[2]

In [8]:
price=[]
for i in d:
    j=par(i)
    s=j.split('\n')
    price.append(s[0])

In [9]:
total=0
for i in price:
    if i=="PRICE":
        continue
    else:
        total=total+int(i)

In [10]:
total

5706

In [11]:
def par(string):
    h=string.split(",")
    return h[1]

In [12]:
quantity=[]
for i in d:
    j=par(i)
    quantity.append(j)

In [13]:
t_quan=0
for i in quantity:
    if i=="QUANTITY":
        continue
    else:
        t_quan=t_quan+int(i)

In [14]:
t_quan

544

In [15]:
final=0
prod_sum=0
for i in range(1,100,1):
    prod_sum=prod_sum+(int(quantity[i])*int(price[i]))

In [16]:
prod_sum

29110

In [17]:
count=0  #for the first five rows
for i in d:
    count=count+1
    if count<7:
        print(i)

ITEM,QUANTITY,PRICE

pear,3,67

banana,5,50

guava,7,50

banana,7,40

watermelon,8,80

In [18]:
count=0 #for the lat 10 rows
for i in d:
    count=count+1
    if count>91:
        print(i)

melon,3,40

guava,2,45

mango,8,75

mango,1,75

pineapple,10,67

pear,4,55

pineapple,6,75

mango,2,80

guava,7,40

grapes,10,75