In [1]:
print("hello")

hello

In [3]:
print(2+3)

5

In [1]:
#this is a single line comment...

In [2]:
"""this is line one
this is line two
finally i am multi line comment"""

'this is line one\nthis is line two\nfinally i am multi line comment'

In [5]:
msg="string msg"
type(msg)
msg=0.001
type(msg)

float

In [7]:
a = input("enter a number..")

In [8]:
print(a)

56

In [9]:
type(a)

str

In [10]:
a = int(a)

In [11]:
type(a)

int

In [12]:
a = int(input("enter a number"))

In [13]:
print(a)

8

In [14]:
type(a)

int

In [15]:
#if statement

# if condition:
#(one tab space as indendation) true block

In [18]:
a=5
print("program start")
if a == 5:
    print("the value of a is five")
print("program ends")

program start
the value of a is five
program ends

In [27]:
a = int(input("enter a number"))
print("program start")
if a == 5:
    print("the value of a is five")
else:
    print("number is something else..")
print("program ends")

program start
the value of a is five
program ends

In [2]:
a=int(input("enter a number"))
if a == 5:
    print("print five")
elif a == 1:
    print("ONE")
else:
    print("jbsjyug")

jbsjyug

In [9]:
a=float(input("enter a number"))
if a == 1:
 print("sunday")
elif a == 2:
 print("monday")
elif a == 3:
 print("tuesday")
elif a == 4:
 print("wednesday")
elif a == 5:
 print("thursday")
elif a == 6:
 print("friday")
elif a ==7:
 print("saturday")
else:
 print("NOT A DAY OF THE WEEK")

thursday

In [27]:
msg="yashiii"

msg[0]

'y'

In [18]:
print(len(msg))
print(len("gkuehesngio"))

7
11

In [19]:
for i in msg:
    print(i)

y
a
s
h
i
i
i

In [28]:
msg.upper()

'YASHIII'

In [29]:
msg

'yashiii'

In [36]:
msg="YAsh i"

In [32]:
msg.lower()

'yashi'

In [34]:
msg.swapcase()

'yaSHI'

In [45]:
name="   abc  \nyubry\tjn "
print(len(name))
print(len(name.strip()))

18
14

In [47]:
print(name)

   abc
yubry	jn

In [56]:
numbers = "2,3,7,8,2,8"
a=numbers.split(',') #this particular form is the list form

In [57]:
for item in a:
    print(item)

2
3
7
8
2
8

In [60]:
sum = 0
for item in a:
    sum += int(item)
print("sum:",sum)

sum: 30

In [62]:
numbers="2,3,7,8,2,3"
nos=numbers.split(',')
print(nos)
sum=0
for item in nos:
    temp= int(item)
    sum=sum+temp
    print(item,type(item),temp,type(temp))
print(sum)

['2', '3', '7', '8', '2', '3']
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
7 <class 'str'> 7 <class 'int'>
8 <class 'str'> 8 <class 'int'>
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
25

In [65]:
#format

name = input("enter user name:")
password= input("enter the password")
print("your username: {} and password entered is: {}".format(name,password))

your username: yashi and password entered is: 456

In [66]:
#for

for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [71]:
n=int(input("enter a number"))
sum=0
for i in range (2,n+1,2):
    sum=sum + int(i)
print("sum",sum)

sum 20

In [73]:
nlist = ["abc","jbhku",5.4,6,55,"rkiojce"]

In [74]:
print(nlist)

['abc', 'jbhku', 5.4, 6, 55, 'rkiojce']

In [77]:
nlist[5]

'rkiojce'

In [78]:
for i in nlist:
    print(i)

abc
jbhku
5.4
6
55
rkiojce

List

In [35]:
listex = ["one","two","three","four"]
print(listex)

['one', 'two', 'three', 'four']

In [8]:
print(listex[3])

four

In [9]:
if "Three" in listex :
    print("success")
else :
    print("not in the list")

not in the list

In [17]:
listex.append("five")

In [18]:
listex

['one', 'two', 'three', 'four', 'five']

In [20]:
listex.pop()

'five'

In [21]:
listex

['one', 'two', 'three', 'four']

In [22]:
listex.pop(0)

'one'

In [23]:
listex

['two', 'three', 'four']

In [24]:
listex.remove("two")

In [25]:
listex

['three', 'four']

In [26]:
listex.append("five")

In [27]:
listex

['three', 'four', 'five']

In [36]:
listex.sort()

In [37]:
listex

['four', 'one', 'three', 'two']

In [30]:
listex.reverse()

In [31]:
listex

['three', 'four', 'five']

In [32]:
a=[ 1,8,5,3,4,9]

In [33]:
a.sort()

In [34]:
a

[1, 3, 4, 5, 8, 9]

In [38]:
a.reverse()

In [39]:
a

[9, 8, 5, 4, 3, 1]

Functions

In [55]:
def fun():
    print("I am your first function..")
    retval = "success"
    return retval, True

In [56]:
status,flag=fun()
print(status, flag)

I am your first function..
success True

In [57]:
def fun():
    print("I am your first function..")
    retval = "success"
    return retval

In [58]:
status=fun()
print(status)

I am your first function..
success

In [66]:

def fname(n):
    print("i am your first funct",n)
    retVal =" success"
    return retVal

In [67]:
name = "yashi"
status = fname(name)
print(status)

i am your first funct yashi
 success

In [1]:

def sumList(list):
    sum=0
    for i in list:
     sum=sum+int(i)
    return sum

userinput= input("enter a list of numbers seprated via comma")
array = userinput.strip().split(',')

In [2]:
sum=sumList(array)
print("sum",sum)

sum 35

In [11]:
lst=[40,50,60,70]

for item in range (0,len(lst),1):
    print(lst[item])

40
50
60
70

In [12]:
for item in lst:
    print(item)

40
50
60
70

In [25]:
def oddevenfn(list):
    count=0
    counter=0
    list1=[]
    list2=[]
    for i in list:
        if int(i)%2 == 0:
            count = count + 1
            list1.append(i)
        else:
            counter += 1
            list2.append(i)
    return count,counter,list1,list2
    

userinput= input("enter a list of numbers seprated via comma")
array = userinput.strip().split(',')

In [28]:
count,counter,list1,list2=oddevenfn(array)
print("even=",count,"odd=",counter,list1,list2)

even= 2 odd= 2 ['2', '4'] ['1', '3']

FILE HANDLING

In [107]:
file=open("sample.txt","a+")

In [108]:
file.write("this is my first line to file from python\n")

42

In [109]:
file.close()

In [111]:
file=open("sample.txt","r+")
file.readline()

'this is my first line to file from python\n'

In [112]:
file=open("sample.txt","r+")
file.readlines()

['this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n',
 'this is my first line to file from python\n']

In [6]:
name=input("enter your name")
course=input("enter your course")
reg_no= input("enter your register number")

In [7]:
file=open(name,"w+")

In [8]:
file.write("name-"+name+"\ncourse-"+course+"\nreg_no-"+reg_no)

38

In [9]:
file.close()

In [25]:
def saveDetails(name,email,phone):
    filename= name+".txt"
    with open(filename,"w+") as file:
        file.write("name\t:\t"+name)
        file.write("\nemail\t:\t"+email)
        file.write("\nphone\t:\t"+phone)
    return filename
user_name=input("enter your name")
user_email=input("enter your email")
user_phone=input("enter your phone number")
filename = saveDetails(user_name,user_email,user_phone)

file = open(filename,"r")
file.readlines()

['name\t:\tyashi\n',
 'email\t:\tyashikaranwal@gmail.com\n',
 'phone\t:\t8791405478']

Write a python program that will take 2 oprands and an operator and performs the calculation and gives the result. also save the calculations that your program performs in a file

In [1]:
a=0
while a<7:
    res=a*a
    print(a,res)
    a=a+1

0 0
1 1
2 4
3 9
4 16
5 25
6 36

In [1]:
for i in range(1,10,1):
    if i==7:
        break
    print(i)

1
2
3
4
5
6

In [1]:
for i in range(1,10,1):
    if i==7:
        continue
    print(i)

1
2
3
4
5
6
8
9

In [2]:
list_ex=["ABC","ABC","CDF","ABC","EFD","BCD","NBG"]

In [6]:
set_ex=set(list_ex)
print(list_ex)
print(set_ex)
back=list(set_ex)
print(back)
print(type(list_ex))
print(type(set_ex))
print(type(back))

['ABC', 'ABC', 'CDF', 'ABC', 'EFD', 'BCD', 'NBG']
{'ABC', 'BCD', 'EFD', 'CDF', 'NBG'}
['ABC', 'BCD', 'EFD', 'CDF', 'NBG']
<class 'list'>
<class 'set'>
<class 'list'>

create a list that are radom and repeating from  the user identify the unique
items and their count

In [1]:
names=input("enter 10 name seperated by commas")

In [3]:
name=names.split(",")

In [4]:
name

['yashi',
 'yashi',
 'lily',
 'saara',
 'lily',
 'rose',
 'saara',
 'yashi',
 'rayan',
 'mayuri']

In [5]:
set_x=set(name)

In [6]:
set_x

{'lily', 'mayuri', 'rayan', 'rose', 'saara', 'yashi'}

In [11]:
search="lily"
count=0
for item in name:
    if search==item:
        count=count+1
print(search,count)

lily 2

In [13]:
names=[]
for i in range(0,10,1):
    name=input("enter a name")
    name=name.strip()
    name=name.upper()
    names.append(name)
#print(names)
unique_names=set(names)
#print(unique_names)
for search in unique_names:
    count=0
    for item in names:
        if search==item:
            count=count+1
    print(search,count)

 1
SAARA 2
LILY 2
YASHI 3
HARSH 2

In [2]:
my_dict={
    "Name":"Yashi",
    "Phone": 8791405478,
    "email": "yashikaranwal@gmail.com",
}

In [3]:
print(my_dict["Name"])

Yashi

In [4]:
print(my_dict)

{'Name': 'Yashi', 'Phone': 8791405478, 'email': 'yashikaranwal@gmail.com'}

In [5]:
my_dict["Name"]="yashi karanwal"

In [6]:
print(my_dict["Name"])

yashi karanwal

In [7]:
print(my_dict)

{'Name': 'yashi karanwal', 'Phone': 8791405478, 'email': 'yashikaranwal@gmail.com'}

In [8]:
my_dict["address"]="Chrisr University Lavasa"

In [10]:
print(my_dict)

{'Name': 'yashi karanwal', 'Phone': 8791405478, 'email': 'yashikaranwal@gmail.com', 'address': 'Chrisr University Lavasa'}

In [11]:
my_dict.values()

dict_values(['yashi karanwal', 8791405478, 'yashikaranwal@gmail.com', 'Chrisr University Lavasa'])

In [12]:
my_dict.keys()

dict_keys(['Name', 'Phone', 'email', 'address'])

In [20]:
print(my_dict.keys())
for key in my_dict.keys():
    print(key)

dict_keys(['Name', 'Phone', 'email', 'address'])
Name
Phone
email
address

In [22]:
my_dict.values()

dict_values(['yashi karanwal', 8791405478, 'yashikaranwal@gmail.com', 'Chrisr University Lavasa'])

In [26]:
students={
    "Names":["alwin","yashi","saara","mayuri","rayan"],
    "roll_num":[1,2,3,4,5],
}
#for name in students["Names"]:
   # print(name)
print(students["Names"][2])

saara

In [32]:
mscdsb=[
    {
        "rollnum":2334990291,
        "name":"yashi",
        "email":"gyhu@jkbb",
        "phone":86875456547
    },
    {
        "rollnum":2334990292,
        "name":"yash",
        "email":"gyhu@jkbojiuhb",
        "phone":868777847
    }
]

In [33]:
print(mscdsb)

[{'rollnum': 2334990291, 'name': 'yashi', 'email': 'gyhu@jkbb', 'phone': 86875456547}, {'rollnum': 2334990292, 'name': 'yash', 'email': 'gyhu@jkbojiuhb', 'phone': 868777847}]

In [37]:
for student in mscdsb:
    print(student)
    for key in student.keys():
        print(student[key],end="\t")
    print()

{'rollnum': 2334990291, 'name': 'yashi', 'email': 'gyhu@jkbb', 'phone': 86875456547}
2334990291	yashi	gyhu@jkbb	86875456547
{'rollnum': 2334990292, 'name': 'yash', 'email': 'gyhu@jkbojiuhb', 'phone': 868777847}
2334990292	yash	gyhu@jkbojiuhb	868777847

In [3]:
i=0
while i<10:
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
sum=0
for i in range(1,100):
    sum=sum+i
print(sum)

4950

In [8]:
my_dict={
    "Alice":"78",
    "Bob": "87",
    "Carol": "99",
}

In [9]:
print(my_dict)

{'Alice': '78', 'Bob': '87', 'Carol': '99'}

In [18]:
list=input("enter some numbers seprated by commas")
a=list.split(",")

In [19]:
a

['2', '1', '3', '6', '4', '8', '5', '9', '0']

In [20]:
even=[]
for i in a:
    if int(i)%2==0:
        even.append(i)
    else:
        exit

In [21]:
even

['2', '6', '4', '8', '0']

In [1]:
students = {
    1847207: {
        "Name": "Alwin",
        "Email": "Alwin@christ.in",
        "Phone": "9447755834",
    },
    1847208: {
        "Name": "Alwin",
        "Email": "Alwin@christ.in",
        "Phone": "9447755834",
    },
    1847209: {
        "Name": "Alwin",
        "Email": "Alwin@christ.in",
        "Phone": "9447755834",
    }
}

In [2]:
print(students)

{1847207: {'Name': 'Alwin', 'Email': 'Alwin@christ.in', 'Phone': '9447755834'}, 1847208: {'Name': 'Alwin', 'Email': 'Alwin@christ.in', 'Phone': '9447755834'}, 1847209: {'Name': 'Alwin', 'Email': 'Alwin@christ.in', 'Phone': '9447755834'}}

In [3]:
print(students.keys())

dict_keys([1847207, 1847208, 1847209])

In [14]:
for regno in students.keys():
    # print(regno)
    # print(students[regno])
    for key in students[regno].keys():
        # print(key)
        # print(students[regno][key])
        print(students[regno][key],end="\t")
    print()

Alwin	Alwin@christ.in	9447755834
Alwin	Alwin@christ.in	9447755834
Alwin	Alwin@christ.in	9447755834

In [3]:
name="yashi"
user_input=input("enter a number")
n=int(user_input)
for i in range(0,n):
    print(name)

yashi
yashi
yashi
yashi

In [22]:
num="seven"+"eight"
print(num)

seveneight

In [59]:
list=["zero","one","two","three","four","five"]
num=input("enter a number")
z=int(int(num)/10)
first=list[z]
a=int(num)%10
second=list[a]
number=num+first+second
print(number)

12onetwo

In [70]:
list=["zero","one","two","three","four","five","six","seven","eight","nine"]
num=input("enter the number")
b=int(num)
string=""
while b!=0:
    w=int(b%10)
    c=list[w]
    string=c+string
    b=int(b/10)
string=num+string
print(string)

234twothreefour

In [71]:
list=["zero","one","two","three","four","five","six","seven","eight","nine"]
a = input("enter a number")
def convert():
    num=a
    for item in a:
        temp = int(item)
        num=num+list[temp]
    return num
convert()

'234twothreefour'

In [84]:
a=[761, 123, 585, 275, 194, 840, 999, 622, 763, 40, 825, 687, 402, 338, 611, 987, 739, 95, 819, 568, 320, 126, 688,
948, 514, 223, 751, 379, 857, 767, 492, 162, 437, 934, 430, 343, 725, 511, 580, 678, 708, 823, 346, 179, 786, 663, 
195, 890, 267, 502, 214, 300, 786, 961, 235, 559, 992, 919, 948, 318, 57, 787, 653, 317, 305, 172, 966, 182, 970, 17,
89, 624, 629, 595, 485, 752, 984, 978, 460, 124, 321, 256, 614, 852, 811, 561, 127, 207, 406, 615, 888, 391, 691, 470,
911, 401, 137, 600, 478, 682]
num=0
count=0
for i in a:
    num=num+i
    count=count+1
print("mean:",num/count)
minval=a[0]
maxval=a[0]
for i in a:
    if i<minval:
        minval=i
    elif i>maxval:
        maxval=i
print(minval,maxval)
print("range:",minval,"to",maxval)

mean: 542.94
17 999
range: 17 to 999

In [2]:
import numpy as np

In [3]:
np.ones(100)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\yashi\appdata\local\programs\python\python311\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in c:\users\yashi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yashi\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yashi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yashi\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\yashi\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd

In [17]:
df=pd.read_csv("spotify.csv")

In [19]:
df.head(7)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6
5,Sprinter,"Dave, Central Cee",2,2023,6,1,2186,91,183706234,67,...,141,C#,Major,92,66,58,19,0,8,24
6,Ella Baila Sola,"Eslabon Armado, Peso Pluma",2,2023,3,16,3090,50,725980112,34,...,148,F,Minor,67,83,76,48,0,8,3

In [20]:
df.tail(19)

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
934,Question...?,Taylor Swift,1,2022,10,21,1608,0,223064273,10,...,109,G,Major,75,11,50,20,0,30,17
935,On BS,"Drake, 21 Savage",2,2022,11,4,1338,0,170413877,9,...,158,A,Major,84,33,36,2,0,39,59
936,Mastermind,Taylor Swift,1,2022,10,21,1936,0,218320587,7,...,126,E,Major,66,12,35,55,0,9,14
937,Circo Loco,"Drake, 21 Savage",2,2022,11,4,1794,0,141720999,26,...,104,C#,Major,73,25,61,1,0,32,7
938,Labyrinth,Taylor Swift,1,2022,10,21,1597,0,187339835,6,...,110,NaN,Major,48,15,31,80,22,12,4
939,Spin Bout U,"Drake, 21 Savage",2,2022,11,4,1652,2,198365537,26,...,130,G,Major,77,20,70,1,0,16,5
940,Sweet Nothing,Taylor Swift,1,2022,10,21,1747,0,186104310,9,...,177,NaN,Major,34,39,16,97,0,12,5
941,"Would've, Could've, Should've",Taylor Swift,1,2022,10,21,1715,0,177503916,4,...,158,G,Major,48,55,84,43,0,15,12
942,Con La Brisa,"Ludwig Goransson, Foudeqush",2,2022,11,4,486,0,71095708,8,...,114,D,Minor,62,25,44,51,33,14,3
943,Privileged Rappers,"Drake, 21 Savage",2,2022,11,4,1007,0,112436403,6,...,144,F,Major,93,62,61,0,0,12,20
944,The Astronaut,Jin,1,2022,10,28,481,9,203436468,10,...,125,F,Major,54,22,76,0,0,14,3
945,BackOutsideBoyz,Drake,1,2022,11,4,1045,0,93367537,8,...,142,F,Minor,85,40,43,4,0,39,32
946,Broke Boys,"Drake, 21 Savage",2,2022,11,4,1060,0,106249219,3,...,120,D,Major,64,11,53,1,0,25,27
947,The Great War,Taylor Swift,1,2022,10,21,1274,0,181382590,1,...,96,F,Major,57,55,74,22,0,8,4
948,My Mind & Me,Selena Gomez,1,2022,11,3,953,0,91473363,61,...,144,A,Major,60,24,39,57,0,8,3
949,Bigger Than The Whole Sky,Taylor Swift,1,2022,10,21,1180,0,121871870,4,...,166,F#,Major,42,7,24,83,1,12,6
950,A Veces (feat. Feid),"Feid, Paulo Londra",2,2022,11,3,573,0,73513683,2,...,92,C#,Major,80,81,67,4,0,8,6
951,En La De Ella,"Feid, Sech, Jhayco",3,2022,10,20,1320,0,133895612,29,...,97,C#,Major,82,67,77,8,0,12,5
952,Alone,Burna Boy,1,2022,11,4,782,2,96007391,27,...,90,E,Minor,61,32,67,15,0,11,5